body {
  background-image: url("assets/wallpaper-sky.jpg");
  background-repeat: no-repeat;
}

ul {
    background-color: rgb(99, 99, 99);
    opacity: 0.6;
    display: flex;
   justify-content:space-around;
   border-color:floralwhite;
   border-style: groove;
  }


  a{
    font-size: larger;
    color: aliceblue;
  }

 .headlines { 
  margin-top: 4%;
  margin-bottom: 4%;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; text-align: center;
 }
 
